@import '../../global/style';

.description{
  font-size: 16px;
  color: $default-color;

  &__size{
    &_s{
      font-size: 12px;
    }
    &_m{
      font-size: 16px;
    }
    &_l{
      font-size: 20px;
    }
  }

  &__color{
    &_default{
      color: $default-color;
    }
    &_accent{
      color: $accent-color;
    }
  }
  &__margin{
    &_left{
      margin-left: 10px;
    }
    &_left_x2{
      margin-left: 20px;
    }
    &_top {
      margin-top: 10px;
    }
    &_top_x2 {
      margin-top: 20px;
    }
    &_bottom {
      margin-bottom: 10px;
    }
    &_bottom_x2 {
      margin-bottom: 20px;
    }
    &_right {
      margin-right: 10px;
    }
    &_right_x2 {
      margin-right: 20px;
    }
  }
}