@import './ui/Logo/style';
@import './ui/Button/style';
@import './ui/Layout/style';
@import './ui/Description/style';
@import './ui/Price/style';
@import './global/style';
@import './widgets/Card/style';

h1,h2,h3,h4,h5,h6,p,ul,ol {
  padding: 0;
  margin: 0;
}

.app{
  display: flex;
  flex-direction: column;
}
header{
  border-bottom: 1px solid #afadad;;
}

